<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cidp.flowanalysis.mapper.InstancesMapper">
    <insert id="insertInstances" parameterType="java.util.List">
        insert into instances
        (attr0,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,
        attr10,attr11,attr12,attr13,attr14,attr15,attr16,attr17,attr18,attr19,
        attr20,attr21,attr22,attr23,attr24,attr25,attr26,attr27,attr28,attr29,
        attr30,attr31,attr32,attr33,attr34,attr35
        attr36,attr39,attr43,attr44,
        attr40, attr41,attr42,attr45,
        attr37, attr38,attr46,attr47,attr48,attr49,
        attr50, attr51,attr52,attr53,
        attr54,attr55,attr56,attr57,attr58,attr59,attr60,attr61,
        attr62,attr63, attr64,attr65,attr66,attr67,
        attr68,attr69,attr70,attr71,attr72,attr73,
        attr74,attr75,attr76,
        attr77,attr78,attr79,label
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.attr0},
            #{item.attr1},
            #{item.attr2},
            #{item.attr3},
            #{item.attr4},
            #{item.attr5},
            #{item.attr6},
            #{item.attr7},
            #{item.attr8},
            #{item.attr9},
            #{item.attr10},
            #{item.attr11},
            #{item.attr12},
            #{item.attr13},
            #{item.attr14},
            #{item.attr15},
            #{item.attr16},
            #{item.attr17},
            #{item.attr18},
            #{item.attr19},
            #{item.attr20},
            #{item.attr21},
            #{item.attr22},
            #{item.attr23},
            #{item.attr24},
            #{item.attr25},
            #{item.attr26},
            #{item.attr27},
            #{item.attr28},
            #{item.attr29},
            #{item.attr30},
            #{item.attr31},
            #{item.attr32},
            #{item.attr33},
            #{item.attr34},
            #{item.attr35},
            #{item.attr36},
            #{item.attr37},
            #{item.attr38},
            #{item.attr39},
            #{item.attr40},
            #{item.attr41},
            #{item.attr42},
            #{item.attr43},
            #{item.attr44},
            #{item.attr45},
            #{item.attr46},
            #{item.attr47},
            #{item.attr48},
            #{item.attr49},
            #{item.attr50},
            #{item.attr51},
            #{item.attr52},
            #{item.attr53},
            #{item.attr54},
            #{item.attr55},
            #{item.attr56},
            #{item.attr57},
            #{item.attr58},
            #{item.attr59},
            #{item.attr60},
            #{item.attr61},
            #{item.attr62},
            #{item.attr63},
            #{item.attr64},
            #{item.attr65},
            #{item.attr66},
            #{item.attr67},
            #{item.attr68},
            #{item.attr69},
            #{item.attr70},
            #{item.attr71},
            #{item.attr72},
            #{item.attr73},
            #{item.attr74},
            #{item.attr75},
            #{item.attr76},
            #{item.attr77},
            #{item.attr78},
            #{item.attr79},
            #{item.label}
            )
        </foreach>
    </insert>

    <delete id="deleteAll">
        delete from instances
    </delete>
    <select id="getResult" resultType="com.cidp.flowanalysis.model.Pie">
        SELECT label as name,COUNT(label) as value FROM instances GROUP BY label
    </select>
    <select id="getAllData" resultType="java.util.Map">
        select * from  instances
    </select>

</mapper>